<div class="row-3">
  <div class="col-12">
    <% if end_user_signed_in? %>
      <h6 style="color:#b0c4de"><%= current_end_user.name %>さんのマイページ</h6>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <!--ユーザー情報部分テンプレート-->
    <%= render "end_user_info", end_user: @end_user %>
  </div>

  <div class="col-8">
    <!--投稿部分テンプレート-->
    <%= render 'end_user_sweets_revues_index', sweets_revues: @sweets_revues, end_user: @end_user %>
  </div>
</div>