 <div>
  <% if sweets_revue.favorited_by?(current_end_user) %>
    <p>
      <%= link_to sweets_revue_favorites_path(sweets_revue), method: :delete do %>
        <i class="fas fa-heart fa-2x icon-color"></i><%= sweets_revue.favorites.count %>
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to sweets_revue_favorites_path(sweets_revue), method: :post do %>
        <i class="far fa-heart fa-2x"></i><%= sweets_revue.favorites.count %>
      <% end %>
    </p>
  <% end %>
</div>