<div class="container">
  <dev class="row justify-content-center">
    <div class="col-7">
      <div class="row">
        <!--スイーツ投稿内容-->
        <%= render 'public/sweets_revues/sweets_revue_show', sweets_revue: @sweets_revue, end_user: @end_user %>
      </div>
    </div>

    <div class="col-5">
        <!--コメントフォーム-->
        <div class="new-comment row mt-5">
          <div class="col-12 p-inherit">
            <%= render 'public/post_comments/form', sweets_revue: @sweets_revue, post_comment: @post_comment %>
          </div>
        </div>
        <!--コメント一覧-->
        <div class="row">
          <div id="post_comments_area" class="col-12 m-3">
            <h5><strong><コメント一覧></strong></h5>
            <%= render 'public/post_comments/post_comments', sweets_revue: @sweets_revue %>
          </div>
        </div>
    </div>
  </div>
</div>