<div class="container">
  <div class="row mt-3">
    <div class="col-12">
      <h4 class="text-center mb-3"><%= @end_user.nickname %>さんをフォローしているユーザー</h4>
    </div>
    <%= render 'follow_list', end_users: @end_users %>
  </div>
  <div class="d-flex justify-content-center">
    <%= paginate @end_users %>
  </div>
</div>
