<%= render "admin/shared/error_messages", resource: @search %>

<div class="row mb-5">
  <div class="col-6">
    <%= render "searchs_index", search: @search, searchs: @searchs %>
  </div>
  <div class="col-6">
    <%= render "searchs_index", search: @search, searchs: @searchs %>
  </div>
</div>