<div class="row col-12">
  <h4 class="mb-3">検索</h4>
</div>
<div>
  <%= form_tag({controller:"searches",action:"search"}, method: :get) do %>
    <% Tag.all.each do |t| %>
      <%= check_box :tag_ids, t.name %><%= t.name %>
    <% end %>
    <br><%= submit_tag '検索' %>
  <% end %>
</div>
