<div class="row">
  <div class="mx-auto">
    <h1>About</h1>
    <h2>はじめに</h2>
      <p>
        こちらのサイトでは様々なスイーツの情報共有を目的としたサイトです。
      </p>
    <h3>使い方</h3>
      <div class ="title">投稿する</div>
      <div class ="title">探す</div>
      <div class ="title">繋がる</div>
    
    
    <div class = "box">
      <p>
        <span>①投稿する</span>
        コンビニスイーツからデパ地下スイーツ、地元のスイーツなど実際に召しあがったスイーツをレビューしてみんなと共有しましょう！
      </p>
    </div>
    <div class = "box">
      <p>
        <span>①探す</span>
        価格や用途、その時食べたいジャンル等、該当するスイーツを探すことができます！
      </p>
    </div>
    <div class = "box">
      <p>
        <span>①スイーツ好きと繋がる</span>
        気になるユーザーをフォローすることができます！
      </p>
    </div>

    <!--<img src="assets/cakes.jpg" class="img-thumbnail" alt="">-->

  </div>
</div>