
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!--<img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">-->
        <div class="first-slide"></div>
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>Sweets日和へようこそ</h1>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="second-slide"></div>
        <div class="container">
          <div class="carousel-caption">
            <h1>はじめに</h1>
            <p>こちらのサイトでは様々なスイーツの情報の共有を目的としたサイトです。</p>
            <div class="row">
              <div class="col-lg-4">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
              </div><!-- /.col-lg-4 -->
            </div>
            <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p> -->
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="third-slide"></div>
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>①投稿する：</h1>
            <p>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</p>
            <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p> -->
            <% if end_user_signed_in? %>
              <p><a class="btn btn-lg btn-primary" href="sweets_revues/new" role="button">新規投稿へ</a></p>
            <% else %>
              <p><a class="btn btn-lg btn-primary" href="end_users/sign_in" role="button">新規投稿へ</a></p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="four-slide"></div>
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>②探す：</h1>
            <p>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</p>
            <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p> -->
            <p><a class="btn btn-lg btn-primary" href="sweets_revues" role="button">投稿をみる</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="five-slide"></div>
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>③繋がる：</h1>
            <p>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</p>
            <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p> -->
            <p><a class="btn btn-lg btn-primary" href="end_users" role="button">会員をみる</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <!-- <span class="sr-only">Previous</span> -->
      <span class="sr-only">前へ</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <!-- <span class="sr-only">Next</span> -->
      <span class="sr-only">次へ</span>
    </a>

</div>