
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="first-slide"></div>
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>Sweets日和へようこそ</h1>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="second-slide"></div>
        <div class="container">
          <div class="carousel-caption">
            <h2>はじめに</h2>
            <h4>こちらのサイトでは様々なスイーツの情報の共有を目的としたサイトです。</h4>
            <div class="row">
              <div class="col-lg-4">
                <p class="circle">レビュー</p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <p class="circle">探す</p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <p class="circle">繋がる</p>
              </div><!-- /.col-lg-4 -->
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="third-slide"></div>
        <div class="container">
          <div class="carousel-caption text-right">
            <h3>①投稿する：</h3>
            <h5>コンビニスイーツからデパ地下や洋菓子店のスイーツ、地元のスイーツなど実際に召し上がったスイーツをレビューしてみんなと共有しましょう！</h5>
            <% if end_user_signed_in? %>
              <p><a class="btn btn-outline-secondary" href="sweets_revues/new" role="button">新規投稿へ</a></p>
            <% else %>
              <p><a class="btn btn-outline-secondary" href="end_users/sign_in" role="button">ログイン</a></p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="four-slide"></div>
        <div class="container">
          <div class="carousel-caption text-right">
            <h3>②探す：</h3>
            <h5>価格や用途、その時食べたいジャンル等、該当するスイーツを探すことが出来ます！</h5>
            <p><a class="btn btn-outline-secondary" href="sweets_revues" >投稿をみる</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="five-slide"></div>
        <div class="container">
          <div class="carousel-caption text-right">
            <h3>③スイーツ好きと繋がる：</h3>
            <h5>気になる投稿をしているユーザーをフォローすることが出来ます！</h5>
            <% if end_user_signed_in? %>
              <p><a class="btn btn-outline-secondary" href="end_users" role="button">会員をみる</a></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <!-- <span class="sr-only">Previous</span> -->
      <span class="sr-only">前へ</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <!-- <span class="sr-only">Next</span> -->
      <span class="sr-only">次へ</span>
    </a>

</div>