<div class="row justify-content-center mb-2">
  <h4><span class="title">タグ編集</span></h4>
</div>

<div class="row justify-content-center">
  <%= form_with model: tag, url: admin_tag_path, method: :patch do |f| %>
  <div class="d-flex">
    <div class="class mr-2"><%= f.text_field :name, placeholder: "タグ名" %></div>
    <div><%= f.submit "変更を保存", class: "btn btn-outline-success" %></div>
  </div>
  <% end %>
</div>

