<div class="row-3">
  <div class="col-12">
    <!--部分テンプレートにしたい-->
    <!--新着順-->
    <!--いいね数順-->
  </div>
</div>

<div class="row">
  <!--ユーザー情報部分テンプレート-->
  <%= render "admin_end_user_info", end_user: @end_user %>
</div>

  <div class="col-8">
    <!--投稿部分テンプレート-->
    <%= render 'admin/end_users/admin_end_user_sweets_revues', sweets_revues: @sweets_revues, end_user: @end_user %>
  </div>
</div>