@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


.main_body{
  margin: 5px;
}

// toppage
.link{
  width: 180px;
  color: #5a5a5a;
  border: double;
  padding: 5px;
  text-align: center;
}