/*新規登録ページ*/
  .field{
    margin-top: 5px;
  }


/*search*/
  .genre-box{
    text-align-last: center;
  }
  /*タブの表示*/
  .form-box{
    display: flex;
    /*横並びにする*/
    flex-direction: row;
    /*画面幅に収まらない場合は折り返す*/
    flex-wrap: wrap;
    margin-left: 20px;
  }

  .form-check-label{
    margin-left: 10px;
  }

/*投稿詳細ページ*/
  .icon-box, .review{
    display: flex;
  }

/*いいねした時の♡の色*/
  .favorites_icon-color{
    color: #FF66FF;
  }

/*自身の投稿のいいね*/
  .my_icon-color{
    color: #ffc0cb;
  }

/*コメントアイコン*/
  .comment_icon-color{
    color: #696969;
  }

/*ページネーション*/
  .paginate{
    text-align: center;
  }

/*end_user_info*/
  .my_intro_box{
    border-style: dotted;
    width: 80%;
    margin-top: 5px;
    border-color: #b0c4de;
  }
  .intro_label{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom-style: solid;
    border-bottom-color: #b0c4de;
    border-width: thin;
  }
  .intro_field_name{
    margin-top: 5px;
    margin-left: 10px;
    width: 80%;
    height: 40px;
  }
  .intro_field{
    margin-top: 5px;
    margin-left: 10px;
    width: 80%;
    height: 70px;
  }
  .my_count{
    border-style: solid double;
    width: 50%;
    text-align: center;
    margin-top: 5px;
    border-color: #b0c4de;
  }

/*mypage投稿一覧*/

  .review-box{
    display: flex;
    width: 100%;
  }
  .review_contents_icon{
    width: 10%;
  }
  .review_contents_star{
    width: 30%;
    margin-left: 5px;
  }
  .review_contents_image{
    width: 20%;
  }
  .review_contents_name{
    width: 30%;
  }

/*sweets_revues_index*/
  .sweets_revues-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .review-box-n{
    width: calc(95%/3);
    margin-right:3px;
    border-style: outset;
    border-color:#ffdab9;
    padding: 5px;

  }
  .sweets_image{
    width: 90%;
    height: 90px;
  }
  .count{
    display: flex;
  }
  .icon{
    margin:1px 4px;
  }
  .tag-name{
    height:100px;
  }